In [68]:
import pandas as pd
import re

import warnings
warnings.filterwarnings('ignore')

In [69]:
pd.set_option('display.max_rows', None)

In [111]:
months = {
    'january': 1,
    'jan': 1,
    'february': 2,
    'feb': 2,
    'march': 3,
    'april': 4,
    'may': 5,
    'june': 6,
    'july': 7,
    'august': 8,
    'september': 9,
    'sept': 9, 
    'october': 10,
    'november': 11,
    'december': 12,
    'th': "",
    'nd':"",
    'fr':"",
    'bc':''
    
}

In [132]:
df = pd.read_excel("ODI-2023.xlsx")
df.head()

,Tijdstempel,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,I have used ChatGPT to help me with some of my study assignments,When is your birthday (date)?,How many students do you estimate there are in the room?,Did you stand up to come to your previous answer ?,What is your stress level (0-100)?,How many hours per week do you do sports (in whole hours)?,Give a random number,Time you went to bed Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
0,2023-04-04 12:08:33.342,Masters - AI,yes,0,mu,nee,gender fluid,yes,23/11/1997,319,unknown,100,0,69,11:30,Ashes,Not ashes
1,2023-04-04 12:08:36.017,Artificial Intelligence,no,0,sigma,nee,male,not willing to say,"5th August, 1995",600,no,60,2,42,23.00,good food,good sleep
2,2023-04-04 12:08:37.501,AI,no,0,mu,nee,female,no,21/09,220,no,20,5,17,23:30,Sports,Friends
3,2023-04-04 12:08:51.909,Data mining,yes,1,mu,ja,male,yes,25-06-1996,100,unknown,50,5,12,11,Gym,Piano
4,2023-04-04 12:08:59.019,Quantitative Risk Management,no,0,mu,nee,male,yes,18-08-1998,300,no,65,10,874,11,Relax,Sun

In [133]:
# correct "When is your birthday (date)?" column

birthday  = df["When is your birthday (date)?"]
for x in range(len(birthday)):
    birthday[x] = str(birthday[x]).lower()
    for i in months:
        if i in birthday[x]:
            birthday[x] = birthday[x].replace(i,str(months[i]))   
    temp = ""
    for y in range(len(birthday[x])):
        if not birthday[x][y].isalpha() and not birthday[x][y].isdigit():
            temp += " "
        else:
            temp += birthday[x][y]
    birthday[x] = temp.strip()
    if len(birthday[x])<8 or len(birthday[x])>10 or birthday[x].count(" ")!=2:
        birthday[x] = "NaN"
    
    birthday[x]= birthday[x].split(" ")
    
for i in range(len(birthday)):
    if len(str(birthday[i][0]))==4:
        birthday[i][0],birthday[i][-1]=birthday[i][-1],birthday[i][0]
    
    if not birthday[i][-1] == "NaN":
        if int(birthday[i][-1]) < 1950:
            birthday[i] = ["NaN"]
            
for i in range(len(birthday)):
    birthday[i] = " ".join([str(elem) for elem in birthday[i]])

In [134]:
# correct "What is your stress level (0-100)?" column

for index, row in df.iterrows():
    stress_level = str(row['What is your stress level (0-100)?'])    
    numbers = r'^[0-100]$'
    if not stress_level.isdigit() or int(stress_level) < 0 or int(stress_level) > 100:
        df['What is your stress level (0-100)?'][index] = "NaN"

In [115]:
df["Have you taken a course on information retrieval?"].nunique()

3

In [135]:
row_values={"yes":1, "no":0 , "mu":1 , "sigma":0, "ja":1, "nee":0, "unknown":"NaN",
           "male":1, "female":2, "intersex":3, "nonbinary":4, "non-binary":4, "gender fluid":5, "other":6,
            "not willing to answer":7,"not willing to say":8}

for key, value in df.iteritems():
    for ele in range(len(value)):
        if value[ele] in row_values.keys():
            value[ele] = row_values[value[ele]]

In [136]:
# correct "How many students do you estimate there are in the room?" column

for index, row in df.iterrows():
    students_num = str(row['How many students do you estimate there are in the room?'])
    numbers = r'^[10-1000]$'
    if not students_num.isdigit() or int(students_num) < 10 or int(students_num) > 1000:
        df['How many students do you estimate there are in the room?'][index] = "NaN"

In [137]:
df

,Tijdstempel,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,I have used ChatGPT to help me with some of my study assignments,When is your birthday (date)?,How many students do you estimate there are in the room?,Did you stand up to come to your previous answer ?,What is your stress level (0-100)?,How many hours per week do you do sports (in whole hours)?,Give a random number,Time you went to bed Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
0,2023-04-04 12:08:33.342,Masters - AI,1,0,1,0,5,1,23 11 1997,319,NaN,100,0,69,11:30,Ashes,Not ashes
1,2023-04-04 12:08:36.017,Artificial Intelligence,0,0,0,0,1,8,NaN,600,0,60,2,42,23.00,good food,good sleep
2,2023-04-04 12:08:37.501,AI,0,0,1,0,2,0,NaN,220,0,20,5,17,23:30,Sports,Friends
3,2023-04-04 12:08:51.909,Data mining,1,1,1,1,1,1,25 06 1996,100,NaN,50,5,12,11,Gym,Piano
4,2023-04-04 12:08:59.019,Quantitative Risk Management,0,0,1,0,1,1,18 08 1998,300,0,65,10,874,11,Relax,Sun
5,2023-04-04 12:08:59.153,Business Analytics,1,0,1,1,2,1,13 03 2000,500,0,80,5,13,12am,Coffee,Sunny weather
6,2023-04-04 12:09:02.275,M.S. Artificial Intelligence,1,0,1,1,1,1,21 07 1999,150,0,100,7,27,23:00,Good code,Good code
7,2023-04-04 12:09:12.129,Artificial Intelligence,1,1,1,1,1,1,08 03 2000,600,0,30,4,8,00:00,When the sun shines,If I am able to sport
8,2023-04-04 12:09:14.858,Computational Science,0,0,NaN,0,1,8,24 11 1996,525,0,65,5,3.14,2230,Expierence,Expierence
9,2023-04-04 12:09:17.895,Master of Quantitative Risk Management,0,1,1,1,2,8,07 12 1998,570,0,70,6,777,00:00,Experience a serotonin molecule,Experience another serotonin molecule
10,2023-04-04 12:09:18.280,Artificial Intelligence,1,0,1,1,1,1,02 01 1999,400,0,10,7,100,00:15,You,Finally losing my virginity
11,2023-04-04 12:09:21.912,computer science,0,0,1,1,1,1,14 11 1999,550,1,100,0.5,28482947291,7ï¼š00,delicious food,nothing
12,2023-04-04 12:09:22.446,Artificial intelligence,1,1,1,1,1,1,NaN,NaN,1,NaN,Nadda,696969,4 am,Netflix and,Chill
13,2023-04-04 12:09:26.085,Bioinformatics,1,0,1,1,1,8,NaN,450,0,15,10,14,02:00,Something surprising emerging,Nothing bad happened
14,2023-04-04 12:09:27.778,Computer Science: Internet and Web Technology,0,1,1,1,1,0,NaN,230,0,42,3,42,4:30,Coffee,Engaging activities
15,2023-04-04 12:09:33.158,BA,1,0,1,1,2,1,25 09 2000,300,1,50,3-4,25,11,Sun,Food
16,2023-04-04 12:09:43.636,Ai Master,1,1,1,1,1,1,4 2 1999,600,0,0,6,666,00:00,Coffee,A good night sleep
17,2023-04-04 12:09:43.693,Master AI,1,1,1,1,1,1,27 11 1999,600,0,30,12,4153,22:45,Sunny weather,Going to the gym
18,2023-04-04 12:09:44.564,aryamaan710@gmail.com,1,0,1,0,1,1,29 12 1997,750,0,77,6,866,12:30,Thursday,Saturday
19,2023-04-04 12:09:50.577,BA,1,1,1,1,2,1,09 02 2000,534,0,40,4,93,00:15,Sunshine,Friends or family
20,2023-04-04 12:09:50.770,Neuroscience,0,0,1,0,2,0,09 05 1999,350,0,70,8,9,22:30,Good food,Good company
21,2023-04-04 12:09:52.061,AI,1,0,0,0,1,1,14 05 1999,150,0,100,290,290,4am,Getting things done,Creating
22,2023-04-04 12:09:52.693,MSc computational science,0,1,1,0,1,8,11 11 1997,300,0,50,2,182638,12:00am,No task,Alone
23,2023-04-04 12:09:54.193,BA,1,0,1,0,2,0,NaN,800,0,70,0,90,12.00,eat well,sleep well
24,2023-04-04 12:09:58.524,Master AI,1,1,1,1,2,1,08 08 1997,516,0,6,1,666,00:30,The sun,Friends and food
25,2023-04-04 12:09:58.893,Masters cs (big data engineering),0,0,1,0,2,1,11 05 1998,85,0,80,0,11,12,Good food,Productivity
26,2023-04-04 12:09:59.865,Bioinformatics and Systems Biology,1,0,1,1,2,0,15 09 2002,450,0,70,2,96,02.00,Eating chocolate,Getting a high grade
27,2023-04-04 12:10:03.352,Business Analytics,1,0,1,0,1,1,26 04 1997,400,0,99,2,4,2 am,Being productive,Having a good meal
28,2023-04-04 12:10:04.711,Bioinformatics,1,0,0,0,1,1,24 10 2000,380,NaN,80,8,30,2:45,food,game
29,2023-04-04 12:10:09.143,Bachelor Artificial Intelligence,1,0,NaN,1,4,8,05 07 2002,200,0,10,5,189572,01:00,Good night rest,No anxiety
30,2023-04-04 12:10:10.593,Bioinformatics and Systemsbiology,1,0,1,0,2,8,31 01 2000,449,0,67,2,7,00:30,Family,Good food
31,2023-04-04 12:10:11.249,MSc Bioinformatics and Systems Biology,1,0,1,0,2,1,03 05 1997,600,0,80,2,7,22:20,blue skies,lakes/beach
32,2023-04-04 12:10:13.522,Computer Science,NaN,NaN,1,1,1,0,31 03 1999,500,NaN,90,8,24,24:00,Good weather,No assigment
33,2023-04-04 12:10:14.488,CS,0,0,1,1,2,1,NaN,200,0,30,8,27,11.30,sunny days,good meals
34,2023-04-04 12:10:15.376,Msc Bioinformatics,1,0,NaN,0,2,0,18 12 1998,400,0,10,4,25,2 am,Slept well,Food
35,2023-04-04 12:10:16.574,Finance and Technology,1,1,1,1,1,8,17 02 1998,400,0,80,3,11,12,Friends,Family
36,2023-04-04 12:10:17.113,Artificial Intelligence,1,1,1,0,2,1,22 08 1999,400,0,80,6,69,22:30,A sunny day,If I had a nice workout
37,2023-04-04 12:10:17.590,Artificial Intelligence,0,1,1,0,2,1,28 09 1998,500,0,50,4,56,23:30,Sunny,Good food
38,2023-04-04 12:10:18.395,Econometrics and Data Science,1,1,1,1,1,1,5 7 2001,300,0,50,6,10,6 am,Feeling productive,Exercised
39,2023-04-04 12:10:21.433,MSc Artificial Intelligence,1,1,1,1,2,1,12 03 1999,350,0,40,8,9,23:30,Good food,Nice people
40,2023-04-04 12:10:26.672,116,1,1,1,1,2,1,14 12 1997,400,0,90,4,3,01:00,No obligations,Being outside in the sun
41,2023-04-04 12:10:31.796,Masters Bioinformatics and Systems Biology,1,0,1,1,2,1,31 10 2001,300,0,NaN,2,2,4:00am,good morning routine,sunny weather
42,2023-04-04 12:10:34.539,Computational Science,1,0,1,1,2,1,10 01 2001,270,NaN,39,-10,987654321123456000,after midnight,Family!,Friends!
43,2023-04-04 12:10:36.031,Artificial Intelligence,1,1,1,0,2,0,01 25 1998,180,0,25,5,66,11:30,Good weather,Cats
44,2023-04-04 12:10:36.460,Bioinformatics,1,0,1,0,1,1,24 04 1996,230,0,15,12,99,1am,food,sex
45,2023-04-04 12:10:37.990,bioinformatics,1,0,1,0,7,1,08 08 1999,500,0,30,4,3,0 am,bread,coffee
46,2023-04-04 12:10:38.254,Human language technology,1,0,0,0,2,8,18 06 1994,400,0,55,4,4,1230,coffee,good sleep
47,2023-04-04 12:10:38.729,Artificial intelligence,0,0,1,0,1,1,19 09 1998,100,0,10,0,23,12:00,Sticking to my timetable,Eating good food
48,2023-04-04 12:10:40.081,Econometrics,1,1,1,1,2,8,08 09 2000,520,0,70,4,999,12,The sun,Chill in nature
49,2023-04-04 12:10:41.017,MCs Computational Science,1,0,1,0,2,1,17 04 1998,550,0,0,3,43,00.30,Working out,No class
50,2023-04-04 12:10:41.507,CS,1,NaN,1,1,1,1,02 11 2000,200,0,30,7,Random number,02.00,Nice weather,Kindness
51,2023-04-04 12:10:41.862,Econometrics MSc,NaN,0,1,0,1,1,06 09 1998,75,0,55,5,6,0000,Good results,Prodictivity
52,2023-04-04 12:10:43.209,computer science,1,0,NaN,1,1,8,28 2 2000,300,NaN,30,5,69,24:00,coffee,sunset
53,2023-04-04 12:10:44.747,MSc in Finance DHP in Finance and Technology,1,NaN,1,0,1,1,30 3 1998,200,0,50,7,42,12:30am,Sunny weather,No class
54,2023-04-04 12:10:44.894,Computer science,0,0,1,1,2,8,12 06 1998,300,0,99,5-6,22,1:40,Good food,Biking
55,2023-04-04 12:10:44.938,Bioinformatics and systems biology,1,0,1,1,2,1,16 01 1999,400,0,65,3,4,22:00,Nice weather,Friends
56,2023-04-04 12:10:45.347,Bioinformatics and systems biology,1,0,NaN,0,2,1,22 04 1996,581,0,100,3,22,01:00,No class,No exam
57,2023-04-04 12:10:46.302,Ai,0,0,1,0,2,1,12 08 1999,120,0,30,5,35,02:00,Good breakfast,Good workout
58,2023-04-04 12:10:46.606,Duisenberg honours programme in finance & tech...,1,1,1,0,5,0,NaN,400,0,NaN,5,29,02:00,A day where I went to the gym,A productive day study-wise
59,2023-04-04 12:10:48.354,Finance and Technology,1,0,0,0,1,0,2 6 1997,200,0,10,0,7,01.00,Food,Sun
60,2023-04-04 12:10:48.481,CLS,0,0,1,0,1,1,28 05 1999,300,0,35,3,6,0:15,Vacation,Company
61,2023-04-04 12:10:48.605,Human Language Technology,1,0,1,0,2,0,28 12 2000,500,0,17,2,22,02:00,Good weather,Free time
62,2023-04-04 12:10:49.096,AI,1,0,1,1,2,8,31 03 1998,222,0,98,0,5,around 5:30,eat well,sleep well
63,2023-04-04 12:10:49.623,Computational science,1,1,1,1,2,8,02 05 1999,300,0,70,1,69,12,Coffee,Friends
64,2023-04-04 12:10:49.891,Human Language Technology,1,0,1,0,2,1,06 11 2000,200,0,10,2,5,12:00,good weather,friends
65,2023-04-04 12:10:50.151,finance and technology,1,1,1,0,1,0,02 06 2000,350,0,0,4,6,22:00,food,sleep
66,2023-04-04 12:10:50.736,BA,1,0,1,0,2,1,NaN,150,0,15,5,8,00:30,Sun,Good night of sleep
67,2023-04-04 12:10:51.332,Master AI,0,0,1,0,2,1,19 02 2000,350,0,70,1,28,00:30,Good meal,Sun
68,2023-04-04 12:10:51.828,Master's Bioinformatics,1,0,1,0,1,0,07 08 1997,300,0,50,4,3,1 am,Music,Food
69,2023-04-04 12:10:53.064,Bioinformatics,1,0,1,1,2,1,01 05 1997,580,0,60,1,8,12,Sun,Good food
70,2023-04-04 12:10:53.123,AI,0,0,1,0,2,1,NaN,300,0,50,1,99,23:30,Nice weather,Nice meal and coffee
71,2023-04-04 12:10:53.326,Msc Econometrics and Data Science,1,1,1,1,1,1,08 07 2001,100,0,40,7,6,00:30,Good food,Sun
72,2023-04-04 12:10:53.723,AI,1,0,1,1,2,0,17 6 1997,285,0,NaN,0,65435798764476555,11,No lecture,Sun
73,2023-04-04 12:10:54.804,AI,0,0,1,1,1,0,NaN,400,0,5,10,7556544,23:30,Holiday,Sport
74,2023-04-04 12:10:55.250,Business Analytics,1,0,1,1,2,0,18 08 1996,350,0,20,15,26,22:30,Sunshine,Friends
75,2023-04-04 12:10:55.713,Business Analytics,1,0,1,1,1,0,NaN,550,0,30,10,8,23:00,Good weather,Friend
76,2023-04-04 12:10:55.815,AI,1,0,1,1,2,1,04 12 1998,170,0,65,8,69,22:30,Good weather,Walking my dog
77,2023-04-04 12:10:55.880,Bio-informatics,1,0,1,1,2,0,16 09 1999,581,0,100,0,69,23:00,Having some free time for once,No exam
78,2023-04-04 12:10:56.095,CS,1,1,1,1,1,8,NaN,400,1,10,6,8,1:00,work done,travelling
79,2023-04-04 12:10:56.148,CS,1,0,1,1,1,1,5 11 2000,200,0,100,2,7,4am,well fed,well rested
80,2023-04-04 12:10:56.138,Econometrics and operations research,1,0,1,0,1,1,26 10 1996,300,0,10,7,936,23:30,Productive,Coffee
81,2023-04-04 12:10:56.233,Masters,0,0,1,0,2,8,NaN,365,0,99,0,7,23.40,Gossiping,Sleep
82,2023-04-04 12:10:56.216,Business Analytics,1,1,1,1,2,1,23 10 2001,555,0,66,4,3,2300,Lekker eten,Leuke mensen
83,2023-04-04 12:10:56.301,Computational Science,1,0,1,0,1,0,22 6 1999,226,0,5,3,73837471910183,00:00,Friends,Sun
84,2023-04-04 12:10:56.633,AI,1,1,0,1,1,1,NaN,280,0,51,3,42,11 PM,Good sleep,Tasty meal for dinner
85,2023-04-04 12:10:56.678,AI (UvA),1,1,1,0,2,1,12 08 2000,500,0,40,6,18,22.00,Friends and food,Nice weather
86,2023-04-04 12:10:56.745,MSc. Bioinformatics and Systems Biology,0,0,1,1,1,1,NaN,NaN,0,NaN,6,1337,00:30,A nice phish,lots of stress
87,2023-04-04 12:10:56.970,Business Analytics,1,0,1,0,2,1,15 09 1999,175,0,15,8,9,12:15,Sun,Good food
88,2023-04-04 12:10:57.109,Bioinformatics and Systems biology,1,0,0,0,1,1,12 12 1997,500,0,5,6,8,2am,Morning sex,Cocain
89,2023-04-04 12:10:57.199,M Economics,1,0,1,0,2,1,04 09 2000,300,0,15,9,56,24,warm and sunny,friends
90,2023-04-04 12:10:57.219,Econometrics,0,1,1,0,2,1,NaN,400,0,75,7,3,21:30,Doing yoga,Sunshine
91,2023-04-04 12:10:57.559,Master Information Sciences,1,1,NaN,1,1,1,23 08 1999,250,0,40,3,Driehonderd,23:59,Sun,Music
92,2023-04-04 12:10:57.633,Finance,1,1,1,0,1,0,31 08 1997,284,0,5,2,6,23:30,Nice weather,Winning at life
93,2023-04-04 12:10:57.636,Artificial Intelligence,1,0,1,1,1,1,23 05 2000,220,0,5,7,6,23:30,Beer,Beer(2)
94,2023-04-04 12:10:57.759,Artificial Intelligence,0,0,1,1,7,1,24 11 1999,200,0,90,4/5,pi,late,being productive,being relaxed
95,2023-04-04 12:10:57.746,Artificial Intelligence,1,0,1,0,2,1,NaN,222,0,99,2,42,3,Good weather,No stress
96,2023-04-04 12:10:58.357,Master Finance & Technology,1,0,1,0,2,1,NaN,453,0,65,4,1827,00:00,Well rested,Exercise
97,2023-04-04 12:10:58.553,AI,1,1,1,1,1,1,27 09 1999,31,1,NaN,0,90,02.35,Data,Mining
98,2023-04-04 12:10:58.628,Quantitative Risk Management,0,0,1,0,2,1,02 05 2000,250,0,70,6,536,22:00,Seeing friends,No study
99,2023-04-04 12:10:58.689,CS,0,1,1,1,1,1,NaN,300,0,50,1,8,12,Money,Sleeping
100,2023-04-04 12:10:59.587,Econometrics,0,0,1,0,2,1,03 04 1998,487,0,9,11,4,23,Coffee,Sun
101,2023-04-04 12:10:59.856,Business Analytics,1,1,1,1,2,1,NaN,300,0,50,4,7,23:15,The sun shining,Friends
102,2023-04-04 12:10:59.873,AI,1,NaN,NaN,1,2,1,10 09 1997,400,0,70,10,9997655,22:50,Sun,Friends
103,2023-04-04 12:10:59.872,Computational Science,1,0,1,1,2,1,NaN,550,0,70,3hours,7,1:20 am,nice weather,good news
104,2023-04-04 12:10:59.923,Artificial Intelligence,0,0,1,0,2,1,08 06 2000,250,0,86,6,7,23.15,Oatmeal,Sex
105,2023-04-04 12:11:00.149,Finance & Technology,1,0,1,0,1,8,12 02 1997,187,0,85,0,3840,1:00 AM,Having a good meal,Going on a nice walk with my dog
106,2023-04-04 12:11:00.768,Data thingy,0,0,1,0,1,1,NaN,236,0,99,6,77266200376655155388366366655583,22:00,Preheating a sausage roll,NaN
107,2023-04-04 12:11:01.426,Finance,1,0,1,0,1,1,30 04 1998,450,0,69,8,28,23:30,Good food,Sleep
108,2023-04-04 12:11:01.622,AI,1,0,1,1,2,1,NaN,229,0,100,1,9,12:30,Good breakfast,Good sleep
109,2023-04-04 12:11:01.623,Econometrics and Data Science,1,0,1,0,2,1,17 04 1997,300,0,68,1 hour,76,3 am,Nice weather,Wake up early
110,2023-04-04 12:11:02.210,Artificial intelligence,0,0,1,1,2,1,14 06 1999,100,0,10,1.5,99,23:00,The sun,Good food
111,2023-04-04 12:11:02.574,Master Artificial Intelligence,1,0,1,1,1,0,30 5 1997,420,0,30,6,9,00:25,Good food,Sunshine
112,2023-04-04 12:11:02.676,AI,1,0,1,0,2,1,6 8 1997,230,0,43,5,37,00:20,Nice breakfast,Sun shining
113,2023-04-04 12:11:02.857,AI,1,1,1,0,7,1,06 05 1999,350,0,1,10,2645738475736375389,01:00,sun and free time,food
114,2023-04-04 12:11:03.380,Business analytics,1,0,1,0,1,1,04 03 2000,350,0,22,7,58,23:30,Nice weather,Gym
115,2023-04-04 12:11:03.441,AI,1,0,1,0,1,8,NaN,427,0,62,5,27922261,02:00,Socializing,Activities
116,2023-04-04 12:11:04.216,exchange,1,0,NaN,0,2,1,NaN,456,0,99,7,7,23.59,good food,new friends
117,2023-04-04 12:11:04.200,Econometrics,1,1,1,0,1,8,11 08 1997,350,0,60,8,3.14,0030,sleeping out,making music
118,2023-04-04 12:11:04.323,Bioinformatics and Systems Biology,1,NaN,1,1,4,0,6 11 1999,250,0,40,5,21,23:45,Nice weather,Good deed done
119,2023-04-04 12:11:04.533,BA,1,1,1,1,2,1,NaN,900,NaN,100,0,3,22.30,Fun,Bier
120,2023-04-04 12:11:04.746,Computational science,1,0,1,0,1,1,19 05 2000,300,0,10,8,948467618289167649818181849739491,22:00,Being active,Getting a good night's sleep
121,2023-04-04 12:11:04.760,Duisenberg fintech,1,0,1,0,1,1,14 08 2000,275,0,30,6,42,1 am,Having a good chat with friends,Food and drinks
122,2023-04-04 12:11:05.228,AI,1,0,1,1,1,0,5 2 1997,376,0,60,10,6721,22.16,Time to read,A good lunch
123,2023-04-04 12:11:05.468,Bioinformatics and Systems Biology,0,0,0,0,1,1,14 07 1994,NaN,0,NaN,5,7,12 am,Clear Skies,Sunny days
124,2023-04-04 12:11:05.552,AI,1,0,0,1,2,0,23 4 1985,413,0,74,5,623,21:53,sunshine,cake
125,2023-04-04 12:11:05.889,Computational Science,0,1,1,0,2,1,30 9 1997,325,0,45,3,72,2:00,Arts & Crafts,Good Music
126,2023-04-04 12:11:06.008,AI,1,0,1,0,1,1,22 12 1997,543,0,15,6,158295726,00:30,The sun,Free time
127,2023-04-04 12:11:06.008,computer science,1,0,0,1,1,8,13 03 1999,150,0,80,5,88,2:30am,video game,video game
128,2023-04-04 12:11:06.214,Bioinformatics & Systems biology,1,0,1,1,1,0,11 05 1998,600,0,65,4,69,Midnight,Little stress,Having fun
129,2023-04-04 12:11:06.214,AI,0,1,1,1,2,1,25 04 1999,380,0,NaN,10,4,01:00,Did sports,Being productive in some way
130,2023-04-04 12:11:06.336,Econometrics,0,0,1,1,2,1,25 05 1999,280,0,40,6,68,11,Sun,Being free
131,2023-04-04 12:11:06.622,AI,1,0,1,1,1,1,05 12 1999,350,0,20,1,4,0200,Progress,Learning
132,2023-04-04 12:11:06.748,Duisenberg Honours Programme in Finance and Te...,1,0,1,0,1,0,20 01 1999,400,0,15,8,1,22.30,Sport,Drinks
133,2023-04-04 12:11:06.912,Econometrics,1,0,0,0,1,8,NaN,450,0,23,10,23,1:00,Sleeping in,Being duty-free
134,2023-04-04 12:11:06.951,Biomedical sciences,0,0,1,0,1,0,15 01 2001,400,0,20,6,8,23:00,Good sleep,Good meal
135,2023-04-04 12:11:07.468,"Management, Policy Analysis and Entrepreneursh...",0,0,1,0,2,0,NaN,456,0,85,3,3,23.30,"Sun, coffee, friends","Good sleep, no stress, laughter"
136,2023-04-04 12:11:07.970,Master AI,1,0,1,1,2,1,11 08 1992,575,0,99,10,7,00:22,enough sleep,sun
137,2023-04-04 12:11:08.155,Computational science,NaN,0,1,1,1,1,NaN,300,0,50,5,4793374949,12,Good sleep,Good food and beer with friends
138,2023-04-04 12:11:08.480,Computer science,0,1,0,1,1,0,25 04 1987,200,0,0,4,59,12,Lekker eten en slapen,Goed slaap
139,2023-04-04 12:11:08.480,QRM,1,0,0,0,2,1,08 08 2001,350,0,95,4,8,23:30,Sport,Study success
140,2023-04-04 12:11:09.374,"AI,",1,1,1,1,1,1,17 01 1997,287,0,6,4,7,02:45,Mood,Circumstances
141,2023-04-04 12:11:09.871,AI,1,1,1,0,1,1,NaN,400,0,10,8,63,00:30,The sun shining,Having worked out in the morning
142,2023-04-04 12:11:09.962,Artificial Intelligence,1,1,1,0,2,1,NaN,400,0,10,3,6,23u,Sunshine,Friends
143,2023-04-04 12:11:10.549,BA,1,0,1,1,2,1,15 11 1998,400,0,70,3,6,00:00,Good food,No deadlines
144,2023-04-04 12:11:10.884,AI,1,1,NaN,1,1,0,NaN,180,0,0,8,29,12,fixed bugs in the code,not able to fix bugs in the code
145,2023-04-04 12:11:10.945,Artificial Intelligence,0,0,1,0,1,1,10 03 2001,283,0,8,9,42,2300,Training,Winning
146,2023-04-04 12:11:11.562,Econometrics,1,0,1,0,2,1,NaN,350,0,50,3,33,23.30,Prayer,Loved ones
147,2023-04-04 12:11:11.785,Econometrics and Operations Research,0,0,1,0,1,1,15 01 1999,400,0,25,10,420,23:00,"Friends, sport, using my brain, helping someone",Sex
148,2023-04-04 12:11:11.875,Computational science,0,1,1,0,2,1,07 10 1999,450,0,10,4,5,2 am,Good sleep,Painting
149,2023-04-04 12:11:12.105,Business Analytics,1,1,1,1,1,1,07 07 1995,400,0,30,6,73,12,Sport,Sunny walk
150,2023-04-04 12:11:12.138,AI,1,0,1,1,1,1,NaN,400,0,10,10,2,23:00,Good weather,Doing sports
151,2023-04-04 12:11:12.568,Business Analytics,1,1,1,1,2,1,11 09 2000,500,0,90,3,12,00:30,Coffee,Sunshine
152,2023-04-04 12:11:12.586,Master Business Analytics,1,1,1,1,1,0,09 07 2000,400,0,90,4,420,23:30,Fun activities for work/school,Enough sleep
153,2023-04-04 12:11:12.657,BA,1,1,1,1,1,1,NaN,334,0,80,20,4,21.00,Start with a training on the water (rowing),Getting 8 hours of sleep
154,2023-04-04 12:11:13.339,bioinformatics & systems biology,1,NaN,1,0,7,0,10 01 2001,657,0,NaN,0.01,83635367383883939383726242,23.58,air,ideas
155,2023-04-04 12:11:13.398,CLS,1,0,1,0,1,0,21 12 1999,348,0,0,15,5,23:00,Exercise,Reading
156,2023-04-04 12:11:13.650,AI,0,0,1,1,2,0,23 12 1999,350,0,20,7,23,12:30 am,Doing everything from my ToDo list,Taking a walk
157,2023-04-04 12:11:14.301,AI,1,0,1,0,2,1,06 11 1999,400,0,26,5,53645936,00.30,Relaxing,Meeting friends
158,2023-04-04 12:11:14.720,Artifscial Intelligense,1,0,1,1,1,1,01 01 1990,500,0,NaN,5,314159,23.5,Sun,Productivity
159,2023-04-04 12:11:14.758,Computational Science,0,0,1,0,1,1,02 08 1998,189,0,75,10,7362562722,00.26,Sleep,Weather
160,2023-04-04 12:11:15.588,AI,1,1,1,1,2,1,03 05 2000,520,0,20,2,67,23:00,Good food,Good sleep
161,2023-04-04 12:11:15.654,Bioinformatics and System Biology,1,0,0,0,2,1,16 06 1999,500,1,99,2,6,11.1,nothing happens,sunny days
162,2023-04-04 12:11:16.048,Econometrics,0,1,1,1,2,0,14 12 2000,400,0,65,4,4,01:00,Sunny day,Sushi
163,2023-04-04 12:11:15.646,Computer Science,1,1,NaN,1,2,8,21 03 2000,300,0,20,6,3,12,sun,holiday
164,2023-04-04 12:11:16.490,Econometrics and FinTech,1,NaN,1,1,1,0,23 03 1998,477,0,45,4,3,00.30,Getting all my things done,Winning a lottery
165,2023-04-04 12:11:16.635,CS,1,0,1,1,2,1,NaN,350,1,7,7,7,2,music,alcohol
166,2023-04-04 12:11:17.060,Bioinformatics and Systems Biology,0,0,1,0,2,0,23 11 1997,250,0,50,1,73,2AM,Being productive,Quality time with friends
167,2023-04-04 12:11:17.767,Computational science,1,0,1,1,1,1,18 11 2000,450,0,60,15,27,12:00,Doing an activity or sports,When I do not need to do anything for school
168,2023-04-04 12:11:18.265,Master of Computer Science,1,0,1,1,1,8,08 05 1998,450,0,60,10,3,23,Good weather,Progress in study
169,2023-04-04 12:11:18.354,Master Digital Business and Innovation,1,0,1,1,1,1,5 1 1998,200,0,20,7,7,21:00,Having time to workout,"Having nice, sunny weather"
170,2023-04-04 12:11:18.448,AI,1,0,1,1,1,1,09 03 1998,250,0,70,7,9,2 am,Sleep,Travel

In [138]:
df = pd.read_excel("ODI-2023.xlsx")


for index, row in df.iterrows():
    students_num = str(row["How many hours per week do you do sports (in whole hours)? "])
 
    if not students_num.isdigit() or int(students_num) < 0 or int(students_num) > 150:
        df["How many hours per week do you do sports (in whole hours)? "][index] = "NaN"
df["How many hours per week do you do sports (in whole hours)? "]

0        0
1        2
2        5
3        5
4       10
5        5
6        7
7        4
8        5
9        6
10       7
11     NaN
12     NaN
13      10
14       3
15     NaN
16       6
17      12
18       6
19       4
20       8
21     NaN
22       2
23       0
24       1
25       0
26       2
27       2
28       8
29       5
30       2
31       2
32       8
33       8
34       4
35       3
36       6
37       4
38       6
39       8
40       4
41       2
42     NaN
43       5
44      12
45       4
46       4
47       0
48       4
49       3
50       7
51       5
52       5
53       7
54     NaN
55       3
56       3
57       5
58       5
59       0
60       3
61       2
62       0
63       1
64       2
65       4
66       5
67       1
68       4
69       1
70       1
71       7
72       0
73      10
74      15
75      10
76       8
77       0
78       6
79       2
80       7
81       0
82       4
83       3
84       3
85       6
86       6
87       8
88       6
89       9
90       7
91       3
92       2
93       7
94     NaN
95       2
96       4
97       0
98       6
99       1
100     11
101      4
102     10
103    NaN
104      6
105      0
106      6
107      8
108      1
109    NaN
110    NaN
111      6
112      5
113     10
114      7
115      5
116      7
117      8
118      5
119      0
120      8
121      6
122     10
123      5
124      5
125      3
126      6
127      5
128      4
129     10
130      6
131      1
132      8
133     10
134      6
135      3
136     10
137      5
138      4
139      4
140      4
141      8
142      3
143      3
144      8
145      9
146      3
147     10
148      4
149      6
150     10
151      3
152      4
153     20
154    NaN
155     15
156      7
157      5
158      5
159     10
160      2
161      2
162      4
163      6
164      4
165      7
166      1
167     15
168     10
169      7
170      7
171      0
172      1
173    NaN
174      6
175      2
176      3
177      1
178      5
179      3
180      5
181      2
182      0
183      8
184      0
185      4
186     10
187      8
188      8
189     21
190     10
191      4
192     10
193      7
194      1
195      2
196      6
197      1
198      5
199      2
200      0
201      0
202      3
203      4
204      3
205      4
206      2
207      3
208      4
209      5
210      6
211      4
212      2
213      2
214      6
215      2
216      4
217      4
218      4
219      9
220      3
221      3
222      1
223      6
224      2
225      6
226    NaN
227      5
228      4
229      3
230     10
231      8
232      8
233    NaN
234      2
235      7
236    NaN
237      8
238      7
239      5
240      4
241     10
242      6
243      2
244      1
245     20
246      1
247      5
248      0
249     10
250      3
251      8
252      4
253      8
254    NaN
255     20
256      5
257      3
258      5
259      3
260      3
261      6
262    NaN
263     10
264      3
265      8
266      8
267      5
268      7
269      6
270      3
271      0
272      6
273     10
274      2
275      7
276      3
277      4
278    NaN
279      3
280      1
281      2
282      4
283     10
284      2
285      2
286      4
287      8
288      5
289      4
290      2
291      2
292      0
293    NaN
294      5
295      2
296      2
297      0
298      8
299     10
300      0
301      5
302    NaN
303      1
304      3
Name: How many hours per week do you do sports (in whole hours)? , dtype: object

0      NaN
1        2
2      NaN
3      NaN
4       10
5      NaN
6        7
7        4
8      NaN
9        6
10       7
11     NaN
12     NaN
13      10
14       3
15     NaN
16       6
17      12
18       6
19       4
20       8
21     NaN
22       2
23     NaN
24     NaN
25     NaN
26       2
27       2
28       8
29     NaN
30       2
31       2
32       8
33       8
34       4
35       3
36       6
37       4
38       6
39       8
40       4
41       2
42     NaN
43     NaN
44      12
45       4
46       4
47     NaN
48       4
49       3
50       7
51     NaN
52     NaN
53       7
54     NaN
55       3
56       3
57     NaN
58     NaN
59     NaN
60       3
61       2
62     NaN
63     NaN
64       2
65       4
66     NaN
67     NaN
68       4
69     NaN
70     NaN
71       7
72     NaN
73      10
74      15
75      10
76       8
77     NaN
78       6
79       2
80       7
81     NaN
82       4
83       3
84       3
85       6
86       6
87       8
88       6
89       9
90       7
91       3
92       2
93       7
94     NaN
95       2
96       4
97     NaN
98       6
99     NaN
100     11
101      4
102     10
103    NaN
104      6
105    NaN
106      6
107      8
108    NaN
109    NaN
110    NaN
111      6
112    NaN
113     10
114      7
115    NaN
116      7
117      8
118    NaN
119    NaN
120      8
121      6
122     10
123    NaN
124    NaN
125      3
126      6
127    NaN
128      4
129     10
130      6
131    NaN
132      8
133     10
134      6
135      3
136     10
137    NaN
138      4
139      4
140      4
141      8
142      3
143      3
144      8
145      9
146      3
147     10
148      4
149      6
150     10
151      3
152      4
153     20
154    NaN
155     15
156      7
157    NaN
158    NaN
159     10
160      2
161      2
162      4
163      6
164      4
165      7
166    NaN
167     15
168     10
169      7
170      7
171    NaN
172    NaN
173    NaN
174      6
175      2
176      3
177    NaN
178    NaN
179      3
180    NaN
181      2
182    NaN
183      8
184    NaN
185      4
186     10
187      8
188      8
189     21
190     10
191      4
192     10
193      7
194    NaN
195      2
196      6
197    NaN
198    NaN
199      2
200    NaN
201    NaN
202      3
203      4
204      3
205      4
206      2
207      3
208      4
209    NaN
210      6
211      4
212      2
213      2
214      6
215      2
216      4
217      4
218      4
219      9
220      3
221      3
222    NaN
223      6
224      2
225      6
226    NaN
227    NaN
228      4
229      3
230     10
231      8
232      8
233    NaN
234      2
235      7
236    NaN
237      8
238      7
239    NaN
240      4
241     10
242      6
243      2
244    NaN
245     20
246    NaN
247    NaN
248    NaN
249     10
250      3
251      8
252      4
253      8
254    NaN
255     20
256    NaN
257      3
258    NaN
259      3
260      3
261      6
262    NaN
263     10
264      3
265      8
266      8
267    NaN
268      7
269      6
270      3
271    NaN
272      6
273     10
274      2
275      7
276      3
277      4
278    NaN
279      3
280    NaN
281      2
282      4
283     10
284      2
285      2
286      4
287      8
288    NaN
289      4
290      2
291      2
292    NaN
293    NaN
294    NaN
295      2
296      2
297    NaN
298      8
299     10
300    NaN
301    NaN
302    NaN
303    NaN
304      3
Name: How many hours per week do you do sports (in whole hours)? , dtype: object

In [66]:
df.isnull().sum(axis = 0)

Tijdstempel                                                          0
What programme are you in?                                           0
Have you taken a course on machine learning?                         0
Have you taken a course on information retrieval?                    0
Have you taken a course on statistics?                               0
Have you taken a course on databases?                                0
What is your gender?                                                 0
I have used ChatGPT to help me with some of my study assignments     0
When is your birthday (date)?                                        0
How many students do you estimate there are in the room?             0
Did you stand up to come to your previous answer    ?                0
What is your stress level (0-100)?                                   0
How many hours per week do you do sports (in whole hours)?           0
Give a random number                                                 0
Time you went to bed Yesterday                                       0
What makes a good day for you (1)?                                   0
What makes a good day for you (2)?                                   1
dtype: int64

In [87]:
df['How many students do you estimate there are in the room?']

0      319
1      600
2      220
3      100
4      300
5      500
6      150
7      600
8      525
9      570
10     400
11     550
12     NaN
13     450
14     230
15     300
16     600
17     600
18     750
19     534
20     350
21     150
22     300
23     800
24     516
25      85
26     450
27     400
28     380
29     200
30     449
31     600
32     500
33     200
34     400
35     400
36     400
37     500
38     300
39     350
40     400
41     300
42     270
43     180
44     230
45     500
46     400
47     100
48     520
49     550
50     200
51      75
52     300
53     200
54     300
55     400
56     581
57     120
58     400
59     200
60     300
61     500
62     222
63     300
64     200
65     350
66     150
67     350
68     300
69     580
70     300
71     100
72     285
73     400
74     350
75     550
76     170
77     581
78     400
79     200
80     300
81     365
82     555
83     226
84     280
85     500
86     NaN
87     175
88     500
89     300
90     400
91     250
92     284
93     220
94     200
95     222
96     453
97      31
98     250
99     300
100    487
101    300
102    400
103    550
104    250
105    187
106    236
107    450
108    229
109    300
110    100
111    420
112    230
113    350
114    350
115    427
116    456
117    350
118    250
119    900
120    300
121    275
122    376
123    NaN
124    413
125    325
126    543
127    150
128    600
129    380
130    280
131    350
132    400
133    450
134    400
135    456
136    575
137    300
138    200
139    350
140    287
141    400
142    400
143    400
144    180
145    283
146    350
147    400
148    450
149    400
150    400
151    500
152    400
153    334
154    657
155    348
156    350
157    400
158    500
159    189
160    520
161    500
162    400
163    300
164    477
165    350
166    250
167    450
168    450
169    200
170    250
171    400
172    200
173    300
174    450
175    451
176    420
177    438
178    500
179    200
180    250
181    350
182    250
183    200
184    230
185    250
186    300
187    800
188    400
189    NaN
190    266
191    380
192    400
193    643
194    581
195    250
196    458
197    588
198    400
199    400
200    410
201    300
202    418
203    325
204    500
205    400
206    339
207    500
208    300
209    520
210    400
211    473
212    600
213    250
214    300
215    500
216    400
217    400
218    500
219    420
220    332
221    140
222    500
223    250
224    350
225    150
226    183
227    450
228     90
229    509
230    290
231    350
232    600
233    557
234    300
235    350
236    350
237    275
238    298
239    400
240    387
241    386
242    200
243    150
244    600
245    228
246    280
247    400
248    260
249    326
250    230
251    280
252    550
253    500
254    436
255    250
256    350
257    305
258    312
259    623
260    500
261    205
262    567
263    340
264    500
265    100
266    421
267    200
268    NaN
269    350
270    250
271    201
272    200
273    369
274    300
275    428
276    280
277    300
278    NaN
279    300
280    NaN
281    350
282    200
283    400
284    350
285    250
286    300
287    200
288    550
289    224
290    200
291    200
292    180
293    476
294    300
295    400
296    450
297    198
298    400
299    200
300    400
301    150
302    NaN
303    100
304    200
Name: How many students do you estimate there are in the room?, dtype: object